nav>ul>li:nth-child(2)>a{
    border-bottom: 2px solid #097c25;
}
p{
    font-family: '微软雅黑';
}
span{
    font-family: '微软雅黑';
}
/* 风格晒茶开始 */
.style{
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
}
.styleCon{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.styleLeft{
    display: flex;
    flex-direction: column;
    width: 515px;
    margin-top: 120px;
}
.styleLeftT{
    background-color: #73baa9;
    padding: 45px 175px 20px 55px;
    margin-bottom: 80px;
}
.styleLeftT>p:nth-child(1){
    font-size: 70px;
    color: #fff;
    font-weight: bold;
}
.styleLeftT>p:nth-child(2){
    font-size: 18px;
    color: #fff;
    margin-top: 5px;
}
.styleLeftD>p:nth-child(odd){
    width: 130px;
    text-align: center;
    line-height: 30px;
    background-color: #73baa9;
    font-size: 20px;
}
.styleLeftD>p:nth-child(even){
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.styleRight{
    width: 685px;
    display: flex;
    flex-direction: column;
}
.styleRightT{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.styleRightT>span{
    font-size: 20px;
    color: #62d8b6;
}
.styleRightD>div{
    display: flex;
    justify-content: space-between;
}
.styleRightD>div:nth-child(2){
    margin-top: 10px;
}
.styleRightD>div>div{
    width: 338px;
    height: 298px;
    overflow: hidden;
}
.styleRightD>div>div>img{
    transition:all  1s;
    transform-origin:50% 50%;
}
.styleRightD>div>div>img:hover{
    transform: scale(1.1);
}
/* 风格晒茶结束 */

/* 饮品开始 */
.drink{
    /* overflow: hidden; */
    position: relative;
}
.drinkCon{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.drinkLeft{
    width: 750px;
    /* display: flex; */
    margin-top: 95px;
}
.drinkLeftT>p{
    font-size: 48px;
    color: #73baa9;
    font-weight: bold;
    margin-bottom: 60px;
}
.drinkLeftD{
    display: flex;
}
.drinkLeftDimg{
    margin-right: 20px;
    flex-wrap: wrap;
}
.drinkLeftDword{
    width: 335px;
}
.drinkLeftDword>p{
    line-height: 30px;
    font-size: 18px;
    text-indent: 30px;
}
.drinkLeftDword>p:nth-child(2){
    margin-top:30px;
}
.drinkRight{
    margin-top: 25px;
}
.sanjiao{
    width: 1200px;
    margin: 0 auto;
    /* margin-top: -665px; */
    z-index: -1;
    position: absolute;
    top: 210px;
}
.sanjiao>img{
    width: 100%;
}
/* 饮品结束 */

/* 产品开始 */
.product{
    margin-top: -210px;
}
.productCon{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.productSame{
    width: 253px;
    display: flex;
    flex-direction: column;
}
.productSame>div:nth-child(1){
    transition: all 1s;
}
.productSame>div:nth-child(1):hover{
    transform: translate(0px,10px);
}
.productSame1{
    margin-top: 70px;
}
.productSame2{
    margin-top: 140px;
}
.productSame>div:nth-child(2)>p:nth-child(1){
    display: flex;
    margin-left: 150px;
}
.productSame>div:nth-child(2){
    margin-top:10px;
    padding-right: 15px;
    border-right: 1px solid #73baa9;
}
.productSame>div:nth-child(2)>p:nth-child(1)>span:nth-child(1){
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #73baa9;
    margin-top: 25px;
}
.productSame>div:nth-child(2)>p:nth-child(1)>span:nth-child(2){
    font-size: 48px;
    color: #73baa9;
    font-weight: bold;
    margin-left: 18px;
}
.productSame>div:nth-child(2)>p:nth-child(2){
    font-size: 18px;
    line-height: 25px;
    margin-top: 45px;
}
.advantage{
    width: 400px;
    height: 590px;
    background-color: #73baa9;
    margin-top: 315px;
}
.advantage>div{
    width: 310px;
    margin: 0 auto;
    margin-top: 120px;
}
.advantage>div>p{
    color: #fff;
}
.advantage>div>p:nth-child(1){
    font-size: 48px;
    font-weight: bold;
}
.advantage>div>p:nth-child(2){
    font-size: 22px;
    border-bottom: 2px solid #fff;
}
.advantage>div>p:nth-child(3){
    font-size: 18px;
    margin-top: 50px;
}
.advantage>div>p:nth-child(4){
    font-size: 18px;
    margin-top:40px;
}
/* 产品结束 */

/* 匠心探索开始 */
.jiangxin{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
}
.jiangxin>div:nth-child(2){
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 110px;
}
.jiangxin>div:nth-child(2)>p:nth-child(1){
    font-size: 48px;
    font-weight: bold;
}
.jiangxin>div:nth-child(2)>p:nth-child(2){
    font-size: 18px;
    margin-top: 15px;
}
.jiangxin>img:nth-child(3){
    width: 215px;
    height: 268px;
    margin-top: 100px;
}
/* 西瓜背景开始 */
.melonBg{
    margin-top: 75px;
    width: 100%;
    height: 550px;
    overflow: hidden;
}
.melonBg>div{
    background-image: url('../images/melon.jpg');
    width: 100%;
    padding-top: 550px;
    background-attachment: fixed;
}
/* 西瓜背景结束 */

/* 项目优势开始 */
.demoAdvantage{
    width: 100%;
    margin-top: 92px;
}
.demoAdvantage>div:nth-child(1){
    width: 100%;
    height: 1px;
    border-top: 2px solid #73baa9;
}
.demoAdvantageCon{
    width: 1200px;
    margin: 0 auto;
}
.demoAdvantageCon>p:nth-child(1){
    font-size: 48px;
    font-weight: bold;
    color: #73baa9;
    text-align: center;
    width: 225px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: -35px;
}
.demoAdvantageDown{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.demoAdvantageSame{
    display: flex;
    flex-direction: column;
}
.demoAdvantageSame>p:nth-child(1){
    text-align: center;
    font-size: 30px;
    color: #73baa9;
    margin-bottom: 25px;
}
.demoAdvantageSameDown{
    width: 390px;
    background-color: #73baa9;
    height: 600px;
}
.demoAdvantageSameDownCon{
    width: 370px;
    margin: 0 auto;
    margin-top: 10px;
}
.demoAdvantageSameDownCon>p{
    font-size: 18px;
    line-height: 35px;
    width: 340px;
    margin: 0 auto;
    margin-top: 25px;
}
.demoAdvantageSameDownCon>div{
    width: 370px;
    height: 447px;
    overflow: hidden;
}
.demoAdvantageSameDownCon>div>img{
    transition: all 1s;
    transform-origin:50% 50% ;
}
.demoAdvantageSameDownCon>div>img:hover{
    transform: scale(1.1);
}

.blackNav>a:nth-child(2){
    color: rgb(136, 128, 128);
}